body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    margin: .5em 10%;
}

a::before,
a::after,
a {
    color: black;
    text-decoration: none;
}